/* .fixed{
    position: fixed;

} */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;

}
.center{
    justify-content: center;
 
}
/* .card-img{
    height: 250px;
    width: auto ;
} */

#cardContainer{
    justify-content: center;
    display: flex;
    /* padding: 10px; */
    margin: 2px;

}
header {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
    /* background-color: #f2f2f2; */
    font-style: Merriweather;
}

section {
    max-width: 600px;
    margin: 20px auto;
    text-align: justify;
    font-style: Merriweather;
}
footer{
    text-align: center;
}
/* .navbar{
    position: absolute;
} */

